
<!-- <form id="demo" ng-model="minform" ng-controller="questionboxCtrl">
	<section ng-model="content"></section>
	<section ng-model="controls">
	    <div class="q step" id="tpl-field">
		<span>
			<label for="q{{i}}">{{text}}</label>
		</span>
		<input type="text" id="q{{i}}" name="q{{i}}" />
	</div>
		<button ng-model="next">&rArr;</button>
		<div ng-model="progress"></div>
		<span ng-model="num">
			<span ng-model="current"></span>
			<span ng-model="total"></span>
		</span>
		<span ng-model="error"></span>
	</section>
</form> -->

<!-- <script type="text/template" id="tpl-field">
	<div class="q step">
		<span>
			<label for="q{{i}}">{{text}}</label>
		</span>
		<input type="text" id="q{{i}}" name="q{{i}}" />
	</div>
</script>
<script type="text/template" id="tpl-answered">
	<dl class="a">
		<dt>{{q}}</dt>
		<dd>{{a}}</dd>
	</dl>
</script>
 -->

<div  layout="column" ng-controller="questionboxCtrl" ng-model="display" ng-hide="display">
	<div flex id="questionArea">
		<label for="ques1" ng-model="currentQuestionIndex">{{questionArray[currentQuestionIndex]}}</label>
	</div>
	<div flex layout="row"  layout-wrap>
		 <div flex="80">
		 	<input id="ques1" name="ques1" type="text" value="" ng-model="clear" ng-keyup="$event.keyCode == 13 ? increaseIndex() : null"/>
		 </div>
		 <div  flex="20">
		 	<button id="forward" ng-click="increaseIndex()"><md-icon id="forwardIcon">arrow_forward</md-icon>
           </button>
		 </div>
	</div>
		 <div flex>
		 	<md-progress-linear md-mode="determinate" value="{{val}}"></md-progress-linear>
		 </div>
		 <div flex flex-offset="90">
		 	{{currentQuestionIndex}}/{{questionArray.length}}
		 </div>
</div>
 

