<div layout="column">

<div>
<md-list>
    <div ng-controller="sidenavCtrl">
        <div class="container">
            <md-item ng-repeat="item in items">
                <md-item-content layout="row">
                <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">
                        <a ui-sref="{{item.state}}">{{item.title}}</a>
                    </div>
                </md-item-content>
                <md-divider></md-divider>
            </md-item>
        </div>
    </div>
</md-list>
</div>
</div>




