<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <md-list>
            <md-item ng-repeat="item in menu">
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">
                            <a ui-sref="{{item.state}}" ng-click="togglemenu()">{{item.title}}</a>
                        </div>
                    </md-item-content>
            </md-item>
            <md-divider></md-divider>
        </md-list>
    </md-sidenav>
</div>

 <md-list ng-show="layout-md" ng-hide="layout-sm">
    <div ng-controller="sidenavCtrl">
    <div class="container">
        <md-item ng-repeat="item in items">
            <md-item-content layout="row" layout-align="start center">
                <div class="inset">
                    <a ui-sref="{{item.state}}">{{item.title}}</a>
                </div>
            </md-item-content>
            <md-divider></md-divider>
        </md-item>
        </div>
    </div>
    </md-list>
