<div flex layout="row" >
<my-questionbox flex-xs="100" flex-gt-xs="100"></my-questionbox>
</div>
<div flex layout="row" layout-align="end end">
	<my-skillcard flex-xs="100" flex-gt-xs="100" data='carddata[0]'></my-skillcard>
 </div>
<div layout="column" layout-align="center center">
    <mysection-skill-card></mysection-skill-card>
    
    <md-divider></md-divider>
    
    <my-educationcard></my-educationcard>
    
    <md-divider></md-divider>
    
    <my-projectsectioncard></my-projectsectioncard>
</div>
