<!--  <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">  
  -->
        <!-- <md-toolbar class="md-tall md-hue-4">
           <div layout="column" class="md-toolbar-tools-bottom inset">
               <user-avatar></user-avatar>
               <span></span>
               <div>Firstname Lastname</div>
               <div>email@domainname.com</div>
           </div>
       </md-toolbar>  --> 

       <md-list>
      <div ng-controller="sidenavCtrl"> 
           <md-item ng-repeat="item in items">
                   <md-item-content layout="row" layout-align="start center">
                       
                       <div class="inset">
                           <a ui-sref="{{item.state}}">{{item.title}}</a>
                       </div>
                   </md-item-content>
                     <md-divider></md-divider>
           </md-item>
          </div> 
       </md-list> 

       

 <!-- <div ng-controller="sidenavCtrl">
   <md-sidemenu>
  <md-sidemenu-group>
    <md-subheader class="md-no-sticky">Overview</md-subheader>
 
    <md-sidemenu-content ng-repeat="item in items">
      <md-sidemenu href="#">{{item.title}}</md-sidemenu>
     <md-divider></md-divider>
    </md-sidemenu-content>
  </md-sidemenu-group>
</md-sidemenu>-->
<!-- <md-button class="md-button-toggle" ng-click="toggle()" 
           aria-controls="side-menu-{{section.name | nospace}}" flex layout="row" aria-expanded="{{isOpen()}}">{{section.name}}
     <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" ng-class="{\'toggled\' : isOpen()}"></span>
</md-button>
<ul ng-show="isOpen()" id="side-menu-{{section.name | nospace}}" class="menu-toggle-list">
    <li ng-repeat="page in section.pages">
        <menu-link section="page"></menu-link>
    </li>
</ul> -->

 <!--  <table ng-controller="sidenavCtrl">
    <thead>
      <tr><th colspan="4">{{item.title}}</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
       
        <td>
          
         < {{item.state}} -->
     <!--    </td>
        
      </tr>
    </tbody>
  </table>
</body> -->