<div layout="row" layout-xs="column" layout-align="center center">
    <div layout="column" flex-gt-xs="40" flex-xs="100" layout-wrap">
            <my-skillcard data='carddata[0]'></my-skillcard>
       </div>
       <div layout="column " flex-gt-xs="30 " flex-xs="100 " layout-fill>
                 <my-questionbox></my-questionbox>
                 <div ng-include="'skillhome/templates/questionbox.html'"></div>
       </div>
   </div>
   <div layout="row" layout-align="center center">
   
      <my-educationcard></my-educationcard>
   </div>
