
<md-card layout="column" layout-xs="column" layout-sm="column" layout md="column" flex>
  <md-card-header id="header">
    <md-card-header-text>
      <span id="heading" class="md-title">WORK EXPRIENCE</span>
    </md-card-header-text>
  </md-card-header>

  <md-card-content layout="row" layout-xs="column"  layout-wrap layout-padding >
  

  <div layout="row" flex="50" layout-xs="column" flex-xs="100" layout-wrap layout-padding>

  <div layout="column">
    <div id="educardcontent" layout="row" flex="50" flex-xs="80" >
      <div flex>
        <i class="material-icons">fiber_manual_record</i>
                wipro<br>
                Senior software eng<br>
                Wd Bank<br>
                Bangalore<br><br>
                <md-divider></md-divider>
          
      </div>
      <i class="material-icons">create</i>
    </div>
  </div>
  </div>
  

  <div layout="row" flex="50" layout-xs="column" flex-xs="100" layout-wrap layout-padding>

  <div layout="column">
    <div id="educardcontent" layout="row" flex="50" flex-xs="80" >
      <!-- <md-icon id="icon" flex="10" class="material-icons" >{{college.Type}}</md-icon> -->
      <div flex>
      <i class="material-icons">fiber_manual_record</i>
                wipro<br>
                Senior software eng<br>
                Wd Bank<br>
                Bangalore<br/><br>
                <md-divider></md-divider>
      </div>
      <i class="material-icons">create</i>
    </div>
    </div>
    </div>

    <div layout="row" flex="50" layout-xs="column" flex-xs="100" layout-wrap layout-padding>

  <div layout="column">
    <div id="educardcontent" layout="row" flex="50" flex-xs="80" >
      <!-- <md-icon id="icon" flex="10" class="material-icons" >{{college.Type}}</md-icon> -->
      <div flex><i class="material-icons">fiber_manual_record</i>
                wipro<br>
                Senior software eng<br>
                Wd Bank<br>
                Bangalore<br/>
      </div>
      <i class="material-icons">create</i>
    </div>
    </div>
    </div>

    <div layout="row" flex="50" layout-xs="column" flex-xs="100" layout-wrap layout-padding>

  <div layout="column">
    <div id="educardcontent" layout="row" flex="50" flex-xs="80" >
      <!-- <md-icon id="icon" flex="10" class="material-icons" >{{college.Type}}</md-icon> -->
      <div flex><i class="material-icons">fiber_manual_record</i>
                wipro<br>
                Senior software eng<br>
                Wd Bank<br>
                Bangalore<br/>
      </div>
      <i class="material-icons">create</i>
    </div>
    </div>
    </div>

  </md-card-content>

  <md-card-actions layout="row" layout-align="end end">
    <md-button class="" ng-click="$ctrl.showAdvanced($event,'Add Education','')">Add</md-button>
    <!-- <md-button ng-click="$ctrl.showAdvanced($event,'Add College','')">+ college</md-button> -->
  </md-card-actions>
</md-card>