.md-toolbar-tools>div>md-input-container {
    font-size: small;
}

.md-toolbar-tools>div>a {
    cursor: pointer;
    font-size: small;
}

.md-toolbar-tools>a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
}
.scrollbar-dynamic {
    max-height: 300px;
    overflow: auto;
}
