#content
{
	/*margin-top:30px;*/
	width: 60%;
	margin:auto;
}

#headersection
{
	background-color: #D9D9D9;
}

#avatar
{
	height:60px;
	width:56px;
}

#professionimage
{
	height: 30px;
	width: 30px;
}

