<!-- <md-input-container>
    <input type="text" ng-model="search.query" placeholder="Search Jobs">
</md-input-container>
<md-button class="md-raised" aria-label="Search">Search</md-button>
 -->
<md-content align="center">
    <p id="jobsearchheader">
        <span id="jobsearchheading">
           SAMARTH 
        </span>
        <span id="jobsearchsubheading">
            JOB-SEARCH
        </span>
    </p>
    <div class="wrapper" flex-xs="80">
        <input id="jobsearchbox" flex-xs="100" type="text" ng-model="searchcontent" placeholder="Search Jobs" ng-change="findjobs(searchcontent)">
        <md-icon id="searchicon" class="material-icons" ng-click="findjobs(searchcontent)">search</md-icon>
    </div>
    <div class="md-title" ng-hide='hidefactor'>
        Showing {{resultcount}} results for {{searchcontent}}
    </div>
    <div layout="row" layout-xs="column" ng-repeat="company in result" layout-align="center center">
        <md-card flex="50" flex-xs="100">
            <md-card-title>
                <md-card-title-text align="center">
                    <span class="md-display-1">{{company.companyname}}</span>
                    <span class="md-title">{{company.designation}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <div layout="row" layout-xs="column">
                    <div layout="column" flex>
                        <div flex align="left">
                            <b>Location</b>:{{company.location}}
                        </div>
                        <div flex align="left">
                            <b>Salary</b>:{{company.salary}}
                        </div>
                    </div>
                    <div layout="column" flex>
                        <div align="left" flex ng-repeat="minqualification in company.minimumqualification">
                            <b>Qualification</b>:{{minqualification}}
                        </div>
                        <div align="left" flex>
                            <b>Experience Required</b>:{{company.experience}}<span ng-hide='hidefactor'>years</span>
                        </div>
                    </div>
                </div>
                <div flex>
                    <hr>
                </div>
                <div flex align="left">
                    <b><span class="md-headline">JOB DESCRIPTION</span></b>
                    <br> {{company.jobdescription}}
                </div>
                <div flex>
                    <hr>
                </div>
                <div flex align="left">
                    <b>Skills Required</b>
                    <div flex ng-repeat="skill in company.skillsrequired">
                        <ul>
                            <li>{{skill}}</li>
                        </ul>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
                <md-button>APPLY</md-button>
                <md-button class="md-warn">COMPARE</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
