<md-dialog aria-label="Education">
  <form ng-cloak>
    <md-toolbar id="conversationDialogtoolbar">
      <div class="md-toolbar-tools">
        <h2 id="headingtext">{{header}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon id="headingtext">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column">
      <div id="conversationDialogcontent" layout-padding layout-wrap>
        <p layout-wrap>
          I have done my
          <md-input-container>
          <input id="input1" ng-model="title">
          </md-input-container>
          in 
          <md-input-container>
          <input id="input1" ng-model="batch">
          </md-input-container>
          with final score of
          <md-input-container>
          <input id="input1" ng-model="result">
          </md-input-container>
          <md-input-container>
          <input id="input1" ng-model="unit">
          </md-input-container>
          . I did it from
          <md-input-container>
          <input id="input1" ng-model="name">
          </md-input-container>
          which is affiliated to
          <md-input-container>
          <input id="input1" ng-model="affiliation"><br>
          </md-input-container>
          and is located in
          <md-input-container>
          <input id="input1" ng-model="location">
          </md-input-container>
        </p>
      </div>

      <div flex layout="row" layout-align="center center" ng-click="save(header)">

          <div id="btntxt" contenteditable="false">
            <a>SAVE DETAILS</a>
          </div>
          <div id="btn">
            <a><md-icon id="icon">play_arrow</md-icon></a>
          </div>
        
      </div>

    </md-dialog-content>
    <md-dialog-actions class="conversationDialog" layout="row" layout-align="center center">

      </md-dialog-actions>
    </form>
  </md-dialog>