   .back {
        background-image: url('../images/job.jpg');
        
       
        /*height:500%;*/
        align:center;
        margin-bottom: 700%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /*margin-left: 30%;*/

margin-right: auto;
margin-bottom: 10%;
    }
    
    .signin{
        margin-right: 40%;
        margin-top: 310px;
        margin-bottom: 30%;
        margin-left: 70%;
    }
    .md-fab {
        margin-top: 100%;
        margin-bottom: 16px;
        width: 10%;
    }
    
    .signup-screen {
        margin-top: 2%;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 5px;
        background-color: #efefef;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
        color: white;
        width: 500%;
    }
    
    .md-primary {
        width: 70%;
    }
    
    h3 {
        text-align: center;
        color: blue;
    }
    
    .snbtn .spbtn {
        width: 100%;
        height: 6%;
    }
    
    .link {
        margin: auto;
    }
