<md-card id="card" ng-repeat="(key, value) in $ctrl.skill" layout="column">
    <md-card-title>
        <md-card-title-text layout="row">
            <div class="md-headline" flex="95">{{key}}</div> <div flex="5">({{$ctrl.prim.length+$ctrl.secd.length}})</div>
        
            <!-- <span class="md-subhead"></span> -->
        </md-card-title-text>
    </md-card-title>
    <!-- <md-content> -->
        <h2 class="md-title"> Primary <span id="no">({{$ctrl.prim.length}})</span> 
        </h2>
        <!-- <div layout="row">
         
        </div> -->
        <div layout="row" layout-wrap layout-padding>
            
            <md-whiteframe class="md-whiteframe-1dp" flex="15" flex-xs="80" ng-repeat="value in $ctrl.prim" layout="column" layout-align="center center" id="{{value.Expertise}}" ng-click="$ctrl.showAdvanced($event,value,'Edit Skill')" ng-if="$index < 12">
                <span>{{value.Name}}</span>
                <span>{{value.Experience}} yrs</span>
                <!-- <md-button><md-icon class="material-icons">close</md-icon></md-button> -->
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-1dp" flex="15" flex-xs="80" ng-repeat="value in $ctrl.prim" layout="column" layout-align="center center" id="{{value.Expertise}}" ng-click="$ctrl.showAdvanced($event,value,'Edit Skill')" ng-if="$index > 12" ng-show="collapsed">
                <span>{{value.Name}}</span>
                <span>{{value.Experience}} yrs</span>
                <!-- <md-button><md-icon class="material-icons">close</md-icon></md-button> -->
            </md-whiteframe>
            <div layout="row" flex="85"></div>
            <div layout="row" flex="15" layout-align="center center" >
            <a ng-model="collapsed" ng-hide="collapsed" ng-click="collapsed=!collapsed">More
              <md-icon class="material-icons" ng-hide="collapsed">arrow_drop_down</md-icon>
            </a>
            <a ng-model="collapsed" ng-show="collapsed" ng-click="collapsed=!collapsed">Less
            <md-icon class="material-icons" ng-show="collapsed">arrow_drop_up</md-icon>
            </a>
            </div>
            <!-- {{value}} -->
        </div>
        <h2 class="md-title">Others <span id="no">({{$ctrl.secd.length}})</span></h2>
        <div layout="row" layout-wrap layout-padding>
           <md-whiteframe class="md-whiteframe-1dp" flex="15" flex-xs="80" ng-repeat="value in $ctrl.secd" layout="column" layout-align="center center"  ng-click="$ctrl.showAdvanced($event,value,'Edit Skill')" ng-if="$index < 12">
               <span>{{value.Name}}</span>
                <span>{{value.Experience}} yrs</span>
                <!-- <md-button><md-icon class="material-icons">close</md-icon></md-button> -->
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-1dp" flex="15" flex-xs="80" ng-repeat="value in $ctrl.secd" layout="column" layout-align="center center"  ng-click="$ctrl.showAdvanced($event,value,'Edit Skill')" ng-if="$index > 12" ng-show="collapsed1">
                <span>{{value.Name}}</span>
                <span>{{value.Experience}} yrs</span>
                <!-- <md-button><md-icon class="material-icons">close</md-icon></md-button> -->
            </md-whiteframe>
            <div layout="row" flex="85"></div>
            <div layout="row" flex="15" layout-align="center center" >
            <a ng-model="collapsed1" ng-hide="collapsed1" ng-click="collapsed1=!collapsed1">More
              <md-icon class="material-icons" ng-hide="collapsed1">arrow_drop_down</md-icon>
            </a>
            <a ng-model="collapsed1" ng-show="collapsed1" ng-click="collapsed1=!collapsed1">Less
            <md-icon class="material-icons" ng-show="collapsed1">arrow_drop_up</md-icon>
            </a>
            </div>
        </div>
    <!-- </md-content> -->
    <md-card-actions layout="row" layout-align="end end">
        <button ng-click="$ctrl.showAdvanced($event,'','Add Skill')">
           Add
        </button >
    </md-card-actions>
</md-card>
