<div>
    <md-card class="card">
        <md-card-title>
            <md-card-title-text layout="row">
                <div flex="90" class="md-headline">Work History</div>
                <div flex="5">({{$ctrl.totalworkexperience}})</div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column" ng-repeat="value in $ctrl.workexperiences | limitTo: $ctrl.limitval" ng-model="$ctrl.limitval" layout-padding layout-wrap layout="row" layout-gt-xs class="decreasemdIconFont">
                <md-list-item class="md-3-line">
                    <div flex="15" flex-xs="25">
                        <span class="circle" layout layout-align="center center" flex-xs="13"> {{value.duration.duration}}
                        </span>
                    </div>
                    <div class="md-list-item-text designation" layout="column" flex="65">
                        <span class="md-headline">
                        {{value.designation|capitalize}}</span>
                        <div layout-gt-xs="row">
                            <p>
                                <div>
                                    <md-icon class="material-icons">business_center</md-icon>{{value.workplace|capitalize}}
                                </div>
                                <div>
                                    <md-icon class="material-icons">place</md-icon>{{value.Location|capitalize}}
                                </div>
                            </p>
                        </div>
                        <div layout="row">
                            <p hide-xs>
                                <md-icon class="material-icons">date_range</md-icon>{{value.duration.from|date:'dd-MM-yyyy'}}
                                <md-icon class="material-icons">date_range</md-icon>{{value.duration.to|date:'dd-MM-yyyy'}}
                        </div>
                        <div layout="row" layout-gt-xs="row">
                            <span ng-repeat="skill in value.skills">
                            
                                <md-button ng-disabled="true" class="md-raised">{{skill}}
                                </md-button>
                            </span>
                        </div>
                    </div>
                    <div flex="20">
                        <md-button ng-click="$ctrl.showAdvanced($event,'Edit work',value)">
                            <md-icon>mode_edit</md-icon>
                        </md-button>
                    </div>
                </md-list-item>
                <br/>
                <md-divider></md-divider>
            </div>
        </md-card-content>
        <div layout="row" flex-offset="90" layout-align="center center">
            <a ng-model="$ctrl.collapsed" ng-hide="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed ;$ctrl.increaseLimit()" class="pointCursor">
                <md-icon class="material-icons" ng-hide="$ctrl.collapsed">expand_more</md-icon>
            </a>
            <a ng-model="$ctrl.collapsed" ng-show="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed;$ctrl.decreaseLimit()" class="pointCursor ">
                <md-icon class="material-icons " ng-show="$ctrl.collapsed ">expand_less</md-icon>
            </a>
        </div>
        <md-card-actions layout="row " layout-align="end center">
            <md-button ng-click="$ctrl.showAdvanced($event, 'Add Workexperience', '') ">ADD
            </md-button>
        </md-card-actions>
    </md-card>
</div>
