<div layout="column" layout-align="center center" md-whiteframe="md-whiteframe-1dp" class="md-padding">
    <form name="editForm" id="form1">
        <div layout="row" layout-align="center center">
            <h3 class="md-title">forgot Password?</h3>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container class="md-icon-float md-block">
                <label>username</label>
                <md-icon class="material-icons">phone</md-icon>
                <input type="tel" ng-model="username">
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container class="md-icon-float md-block">
                <label>new password</label>
                <md-icon class="material-icons">lock</md-icon>
                <input type="tel" ng-model="new_password">
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container class="md-icon-float md-block">
                <label>confirm password</label>
                <md-icon class="material-icons">lock</md-icon>
                <input type="tel" ng-model="cnfrm_password">
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <a>
                <md-button class="md-raised md-primary" ng-click="edit()">
                    SUBMIT
                </md-button>
            </a>
        </div>
</div>
