<div layout="column" layout-align="center center" md-whiteframe="md-whiteframe-1dp" class="md-padding">
    <form name="signinForm" id="form1">
        <div layout="row" layout-align="center center">
            <h3 class="md-title">{{data.signin}}</h3>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container class="md-icon-float md-block" >
                <label>{{data.mobile}}</label>
                <md-icon class="material-icons">phone</md-icon>
                <input type="tel" ng-model="phonenumber" name="number" required md-no-asterisk ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
                <div ng-messages="signinForm.number.$error">
                    <div ng-message="required">Should be a 10 digit number</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container class="md-icon-float md-block">
                <label>{{data.password}}</label>
                <md-icon class="material-icons">lock</md-icon>
                <input type="password" name="password" required md-no-asterisk ng-model="password">

                <div ng-messages="signinForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>

            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
           <a>
                <md-button class="md-raised md-primary" ng-click="login()">
                    {{data.signin}}
                </md-button>
            </a>
        </div>
        <div layout="row" layout-align="start center">
            <a ui-sref="skillprofile.signup" class="md-subhead md-padding">{{data.create}}</a>
        </div>
       <div layout="row" layout-align="start center">
            <a ui-sref="skillprofile.chnge_password" class="md-subhead md-padding">{{data.forgetP}}</a>
        </div>
        </div>
    </form>
</div>
