<div class="background" layout="column" layout-align="start center" md-whiteframe="md-whiteframe-1dp" class="md-padding">
    <form name="signupForm" id="form1" ng-submit="signup()">
        <div layout="row" layout-align="center center">
            <h3 md-title>{{resourceData.signup}}</h3>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container md-no-float class=" md-block">
                <label>{{resourceData.name}}</label>
                <md-icon class="material-icons">person</md-icon>
                <input type="text" ng-model="user.name" name="name">
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container md-no-float class="md-block">
                <label>{{resourceData.mobile}}</label>
                <md-icon class="material-icons">phone</md-icon>
                <input type="tel" name="number" required md-no-asterisk ng-model="user.mobile" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
                <div ng-messages="signupForm.number.$error">
                    <div ng-message="required">Should be a 10 digit number</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container md-no-float class="md-block">
                <label>{{resourceData.email}}</label>
                <md-icon class="material-icons">mail</md-icon>
                <input type="email" name="email" required md-no-asterisk ng-model="user.email" ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="signupForm.email.$error">
                    <div ng-message="required">Valid email required</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container md-no-float class="md-block">
                <label>{{resourceData.location}}</label>
                <md-icon class="material-icons">place</md-icon>
                <input type="text" name="Location" required md-no-asterisk ng-model="user.location">
                <div ng-messages="signupForm.Location.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container md-no-float class="md-block">
                <label>{{resourceData.password}}</label>
                <md-icon class="material-icons">lock</md-icon>
                <input ng-model="user.pwd" type="password" name="password" required md-no-asterisk ng-required="true" minlength="8" maxlength="20" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^*()_+])[A-Za-z\d][A-Za-z\d!@#$%^*()_+]{7,19}$/">
                <div flex layout-align="right" ng-messages="signupForm.password.$error" class="error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Password should be 8-20 characters </div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container md-no-float class="md-block">
                <label>{{resourceData.confirm}}</label>
                <md-icon class="material-icons">lock</md-icon>
                <input ng-model="user.cpwd" type="password" required md-no-asterisk name="Cfpassword" valid-password-c required>
                <div flex layout-align="right" ng-messages="signupForm.Cfpassword.$error" class="error" role="alert">
                    <div ng-message-exp="required">This is required </div>
                    <div class="msg-error" ng-show="signupForm.Cfpassword.$error.noMatch">
                        passwords donot match</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-primary md-raised">
                {{resourceData.create}}
            </md-button>
        </div>
        <div layout="row" layout-align="start center" ng-model="message" style="color:red">{{message}} </div>
        <div layout="row" layout-align="start center">
            <a ui-sref="skillprofile.signin" class="md-subhead md-padding">{{resourceData.havesign}}</a>
        </div>
    </form>
</div>
