<div layout="column" layout-align="center center" md-whiteframe="md-whiteframe-1dp" class="md-padding">
    <form name="signinForm" id="form1" ng-submit="signin()">
        <div layout="row" layout-align="center center">
            <h3 class="md-title">{{resourceData.signin}}</h3>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container class="md-icon-float md-block">
                <label>{{resourceData.mobile}}</label>
                <md-icon class="material-icons">phone</md-icon>
                <input type="tel" ng-model="user.uname" name="number" required md-no-asterisk ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
                <div ng-messages="signinForm.number.$error">
                    <div ng-message="required">Enter registered mobile number</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
            <md-input-container class="md-icon-float md-block">
                <label>{{resourceData.password}}</label>
                <md-icon class="material-icons">lock</md-icon>
                <input type="password" name="user.password" required md-no-asterisk ng-model="user.pwd">
                <div ng-messages="signinForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center" ng-model="error" style="color:red">{{error}} </div>
        <div layout="row" layout-align="start center">
            <md-button type="submit" class="md-primary md-raised">{{resourceData.signin}}</md-button>
        </div>
        <div layout="row" layout-align="center center">
            <a ui-sref="skillprofile.signup">{{resourceData.create}}</a>
        </div>
    </form>
</div>
