    <md-card  flex>
        <md-card-header>
            <md-card-title class="title">
                <md-card-title-text layout="row">
                    <div  class="md-headline" >Personal Information</div>
                </md-card-title-text>
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <div layout-padding layout-wrap layout="row" flex layout-xs="column">
                <div layout="column" flex="40">
                    <p>name:{{$ctrl.details.name }}</p>
                    <p>age:{{$ctrl.details.age}}</p>
                    <p>gender:{{$ctrl.details.gender}}
                    <p>DOB:{{$ctrl.details.DOB}}</p>
                    
                </div>
    
 
                <div layout="column" flex="60">
                    <p>Maritial Status:{{$ctrl.details.maritialstatus}}</p>
                    <p>contact:{{$ctrl.details.contact}}</p>
                    <p>Email:{{$ctrl.details.email}}</p>
                    <p>address:{{$ctrl.details.address}}</p>
                    <p>pincode:{{$ctrl.details.pincode}}</p>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-footer>
                <md-button ng-click="$ctrl.save()">Save</md-button>
                <md-button>ADD</md-button>
            </md-footer>
        </div>
    </md-card>

