#projectTitle {
    background-color: #e6e6e6;
}

.whiteframedemoDirectiveInterpolation {
    /* For breakpoint `-xs` */
    /* For breakpoint `-sm` */
    /* For breakpoint `-md` */
    /* For breakpoint `-gt-md` */
}

.whiteframedemoDirectiveInterpolation md-whiteframe,
.whiteframedemoDirectiveInterpolation div.padded {
    background: #fff;
    height: inherit;
}

.whiteframedemoDirectiveInterpolation md-whiteframe:focus,
.whiteframedemoDirectiveInterpolation div.padded:focus {
    outline: none;
}

.whiteframedemoDirectiveInterpolation .layout-margin div.padded {
    margin: 16px 8px;
}

#changeProjectNameFont{
	font-size: 24px;
	color:#868686;
}
#changeProjectDurationFont{
	font-size: 19px;
	color:#868686;
}
#changeProjectLocationFont{
	font-size: 20px;
	color:#868686;
}
#changeProjectClientFont{
	font-size: 18px;
	color:#868686;
}
#changeProjectTeamsizeFont{
	font-size: 18px;
	color:#868686;
}
#changeProjectSalaryFont{
	font-size: 17px;
	color:#868686;
}

