<<<<<<< HEAD
 #projectTitle {
    background-color: #e6e6e6;
 }
#changeProjectNameFont{
	font-size: 24px;
	color:#868686;
}
#changeProjectDurationFont{
	font-size: 19px;
	color:#868686;
}
#changeProjectLocationFont{
	font-size: 20px;
	color:#868686;
}
#changeProjectClientFont{
	font-size: 18px;
	color:#868686;
}
#changeProjectTeamsizeFont{
	font-size: 18px;
	color:#868686;
}
#changeProjectSalaryFont{
	font-size: 17px;
	color:#868686;
}
/*.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height:100px;
}*/

=======
 #projectTitle {
     background-color: #e6e6e6;
 }
 
 #changeProjectNameFont {
     font-size: 24px; 
 }
 
 #changeProjectDurationFont {
     font-size: 19px;
 }
 
 #changeProjectLocationFont {
     font-size: 20px;
 }
 
 #changeProjectClientFont {
     font-size: 18px;
 }
 
 #changeProjectTeamsizeFont {
     font-size: 18px;
 }
 
 #changeProjectSalaryFont {
     font-size: 17px;
 }
 /*.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height:100px;
}*/
#pointCursor{
  cursor: pointer;
}

>>>>>>> 7bc1f88fd1e361d55b60d6a6ce10cb744a537994
