@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {

  font-family: "Lato", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: auto;
  margin: auto;
}

.maincontent {
	margin: 70px 10px 5px 10px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: auto;
  margin: auto;

  
}

.maincontent {
  /* background-color: #EAD7D7; */
	
 
	min-height: 100vh;
  width: 100%;
}
.sidenav{


  text-align: center;

  /* min-height: 100vh; */
}
#maincontent {
	margin-top: 60px;


	min-height: 100vh;
  width: 100%;

  /*width: 100%;*/

}
#sidebarcss{
  /* margin-top: -800px; */
  margin-top: 60px;
  /*border: 1px solid #EAD7D7;*/
  border-right:#CCCC99;
  border-left:#CCCC99;
    line-height: 50px;
   min-height: 100vh;

    box-shadow:  3px 3px 3px 3px #888888;

}
.appfooter {
	background: #545454;
	color: #919191;
	margin: 10px 0px 0px 0px;
	padding: 5px;
}
a:hover{
color:black;
}
#img{
  margin-top: 10px;
 margin-left:75px;

}
#name{
  text-align: center;
}

.app-sidebar {
}

.app-sidebar a {
  color: #717171;

}
.active:hover{
  background-color:#CCCC99;
}
