@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
<<<<<<< HEAD
  font-family: "Lato", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: auto;
  margin: auto;
}

.maincontent {
	margin: 70px 10px 5px 10px;
=======
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: auto;
  margin: auto;
  /* min-height: 100vh; */
}
#maincontent {
	margin-top: 60px;

>>>>>>> 5fa59c34c1c5c1e79ab1550f9f90b46d740656eb
	min-height: 100vh;
  width: 100%;

  /*width: 100%;*/

}
#sidebarcss{
  /* margin-top: -800px; */
  margin-top: 60px;
  border: 1px solid #EAD7D7;
    line-height: 50px;
   min-height: 100vh;

}
.appfooter {
	background: #545454;
	color: #919191;
	/*margin: 0px 0px 0px 0px;*/
	padding: 5px;
}