#home {
 color: white;
}

#sections {
 color: white;
}

/*my-profilesection {
 
 width: 100%;
 height: inherit;
}*/

my-skillcard {
 margin-top: -56px;
}

#skillCard {
 font-style: italic;
}

.heading {
 margin-left: 35px;
}

.subheading {
 margin-left: 10px;
}

mysection-skill-card {
 
 width: 80%;
 height: inherit;
}