#home {
 color: white;
}

#sections {
 color: white;
}


mysection-skill-card{ 
 width: 80%;
 height: inherit;
}

my-skillcard {
 margin-top: -56px;
}

#skillCard {
 font-style: italic;
}

.heading {
 margin-left: 35px;
}

.subheading {
 margin-left: 10px;
}

my-projectsectioncard {
 width: 80%;
}
my-educationcard{
  width: 80%;
}