 #card  >div > md-whiteframe{
 	margin:5px 5px; 
 	
 }
 #card >div >a
 {
 	cursor: pointer;
 }
 #card >div > md-whiteframe:hover{
 /*	color: white;
 	background-color: black;*/ 
 	font-weight: bold;
 }
 #no{
 	font-size: small;
 }
#card >md-card-actions>button{
	background-color: white;
	border-style: none;
	font-size: larger;
    margin-right: 10px;
}
#card >md-card-actions>button:hover{
	border-style: solid black;
	color: white;
 	background-color: black;
}
 #card> md-card-title{
 		/*background-color: #e3e3e3;*/
 		    background-color: #D9D9D9;
 }
 #card  > .md-title{
 	margin: 10px 10px; 
 }
.md-dialog-content>md-input-container>input{
	margin-top: 20px;
}
 #secondary{
 	background-color: #ECF2F6;
 }
#proficient{
	background: linear-gradient(to right, #63EB6C 10%,white 0%);
/*background-color: #DAF9D6     ;*/
}
#begginner{
/*background-color: #F0CACA  ;*/
/*background-color: red  ;*/
    background: linear-gradient(to right, #EC4C39  10%,white 0%);


}
#expert{
		background: linear-gradient(to right, #587DE6 10%,white 0%);

/*background-color: #E6FBFC     ;*/
}
#skilled{
		background: linear-gradient(to right, #E5EA5C 10%,white 0%);

/*background-color: #F8F4D2   ;*/
}