 #card > md-content >div > md-whiteframe{
 	margin:5px 5px; 
 	
 }
 #card > md-content >div >a{
 	cursor: pointer;
 }
 #card > md-content >div > md-whiteframe:hover{
 /*	color: white;
 	background-color: black;*/ 
 	font-weight: bold;
 }


 #card> md-card-title{
 		/*background-color: #e3e3e3;*/
 		    background-color: #D9D9D9;
 }
 #card > md-content > .md-title{
 	margin: 10px 10px; 
 }
.md-dialog-content>md-input-container>input{
	margin-top: 20px;
}
 #secondary{
 	background-color: #ECF2F6;
 }
#proficient{
	background: linear-gradient(to right, #DAF9D6 10%,white 0%);
/*background-color: #DAF9D6     ;*/
}
#begginner{
/*background-color: #F0CACA  ;*/
/*background-color: red  ;*/
    background: linear-gradient(to right, #F0CACA 10%,white 0%);


}
#expert{
		background: linear-gradient(to right, #E6FBFC 10%,white 0%);

/*background-color: #E6FBFC     ;*/
}
#skilled{
		background: linear-gradient(to right, #F8F4D2 10%,white 0%);

/*background-color: #F8F4D2   ;*/
}