<div class="md-accordion" ng-repeat=" (key,data) in $ctrl.profile  ">
    <md-toolbar class="md-hue-3" ng-init="data.expanded = false" ng-click="$ctrl.collapseAll(data)">
        <div class="md-toolbar-tools">
            <h2>
<span >{{key}}</span>
</h2>
            <span flex=""></span>
            <div id="sym" ng-class="{expandCollapse:true, active:data.expanded}"></div>
        </div>
    </md-toolbar>
    <md-content>
        <md-list ng-class="{dataContent:true, activeContent:data.expanded}">
            <md-list-item class="md-3-line" ng-repeat="(k,v) in data">
                <div class="md-list-item-text">
                    {{v}}
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
        <md-progress-linear class="md-warn" md-theme-watch md-mode="determinate" value="{{$ctrl.value}}"></md-progress-linear>
        {{key}} filled {{$ctrl.value}} %
        <br>
    </md-content>
</div>
