<div ng-repeat=" (key,data) in $ctrl.profile">
    <md-card>
        <md-card-title id="projectTitle">
            <md-card-title-text>
                <span class="md-headline">{{key}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-content layout-padding layout-wrap layout="row" layout-xs="column">
            <!-- <div class="padded" md-whiteframe flex="50" flext-xs="100" ng-repeat="value in data">
                <span id="changeProjectNameFont">{{value.Project}}</span>
                <br>
                <span id="changeProjectDurationFont">{{value.Duration}}</span>,
                <span id="changeProjectLocationFont">{{value.Location}}</span><br>
                <span id="changeProjectClientFont">{{value.Client}}</span>,
                <span id="changeProjectTeamsizeFont">{{value.TeamSize}}</span><br>
                <span id="changeProjectSalaryFont">{{value.Salary}}</span>
            </div> -->
            <div flex="50" flext-xs="100" ng-repeat="value in data" >
                <span id="changeProjectNameFont">{{value.Project}}</span>
                <br>
                <span id="changeProjectDurationFont">{{value.Duration}}</span>,
                <span id="changeProjectLocationFont">{{value.Location}}</span><br>
                <span id="changeProjectClientFont">{{value.Client}}</span>,
                <span id="changeProjectTeamsizeFont">{{value.TeamSize}}</span><br>
                <span id="changeProjectSalaryFont">{{value.Salary}}</span>
                <md-divider direction="vertical"></md-divider>
            <md-divider layout-xs="100"></md-divider>
            </div>
            <!-- <md-divider vertical></md-divider> -->
        </md-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>
                <md-icon class="material-icons">add_circle_outline</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
