<div ng-cloak>
<div>
    <md-content>
        <md-toolbar class="md-hue-2" style="position:fixed">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="togglemenu()">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2>
			  <span>Samarth</span>
		  </h2>
            </div>
        </md-toolbar>
    </md-content>
</div>

   <md-sidenav class="md-sidenav-left " md-component-id="left" layout="column">
       
      
       <div layout="row" flex="70">
           <md-list>
           <div ng-controller="sidenavCtrl">
               <md-list-item ng-repeat="item in items ">
                   
                       <a ui-sref='{{item.state}}' ng-click="toggleLeft('left')">
                       {{item.title}}
                       </a>
                        <md-divider></md-divider>
                   </div>
               </md-list-item>
           </md-list>
    
<hr>
