<div>
    <md-content>
        <md-toolbar style="position:fixed">
            <div class="md-toolbar-tools" layout="row">
                <div layout="row" layout-align="start center" flex>
                <md-button hide-gt-sm show-sm show-xs class="md-icon-button" aria-label="Settings" ng-click="togglemenu()">
                    <md-icon>menu</md-icon>
                </md-button>

                <h2>
                <span>Samarth-SkillProfile</span>
               </h2>

               
               </div>
                <div layout="row" layout-align="end center" flex>
                <md-input-container>
                    <!-- <label>Language</label> -->
                    <md-select ng-model="selectlang">
                        <md-option ng-repeat="lang in language" ng-value="lang">
                            {{lang}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <a ui-sref="#">Signout</a>
                </div>
            </div>
        </md-toolbar>
    </md-content>
</div>
<div>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp"  md-component-id="left" >
    <md-content ng-include src="'home/templates/sidenavcontents.html'" ng-click="togglemenu()"></md-content>
    </md-sidenav>
  
    

</div>
<hr>
