<div layout="column">

<div>
   <img img class="img-circle" id="img" ng-src="webcomponents/download.png">

</div>
<div id="name">Saranya</div>
<div flex>
      <md-progress-linear md-mode="determinate"></md-progress-linear>
    </div><div id="sidebar" class='app-sidebar'>
  <md-list>
      <div ng-controller="sidenavCtrl"> 
           <md-item ng-repeat="item in items">
                   <md-item-content layout="row" layout-align="start center" class="active">
                       
                           
                   
                       <div class="inset">
                       <md-icon  flex="10" class="material-icons">{{item.icon}}</md-icon>
                           <a ui-sref="{{item.state}}">{{item.title}}</a>
                       </div>
                    
                   </md-item-content>
                     <md-divider></md-divider>
           </md-item>
          </div> 
       </md-list> 
</div>
</div>
