<div layout="column" ng-controller="sidenavCtrl" >
    <md-content layout layout-align="center center" class="md-padding">
        <img class="radiusCircle" ng-src="/home/images/user.png">
    </md-content>
    <md-content layout='column' layout-align="center center">
        <h4 class='md-title'>{{username}}</h4>
        <md-progress-linear md-mode="determinate" ng-value='completion'></md-progress-linear>
        <p class="md-caption" style='margin: auto 5px 0px auto;' layout layout-align="end center">{{completion}}%</p>
    </md-content>
    <md-content class='app-sidebar'>
        <md-list>
            <md-list-item ng-click="select($index)" ui-sref="{{item.state}}" ng-repeat="item in items | orderBy: 'seq'" ng-class="isActive($index)">
                <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon class="material-icons">{{item.icon}}</md-icon>
                        <span style="cursor:pointer;">{{item.title}}</span>
                    </div>
                </md-item-content>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>
