<div layout="column">
    
    <div layout layout-align="center center" class="md-padding">
        <img class="radiusCircle" ng-src="webcomponents/download.png">
    </div>

    <div layout='column' layout-align="center center">
        <h4 class='md-title'>{{user.name}}</h4>
        <md-progress-linear md-mode="determinate" ng-value='portfolio.completion'></md-progress-linear>
        <p class="md-caption" style='margin: auto 5px 0px auto;' layout layout-align="end center">{{portfolio.completion}}%</p>
    </div>

    <div class='app-sidebar'>
        <md-list>
            <div ng-controller="sidenavCtrl">
                <md-item ng-repeat="item in items | orderBy: 'seq'">
                    <md-item-content layout="row" layout-align="start center" class="active">
                        <div class="inset">
                            <md-icon flex="10" class="material-icons">{{item.icon}}</md-icon>
                            <a ui-sref="{{item.state}}">{{item.title}}</a>
                        </div>
                    </md-item-content>
                    <md-divider></md-divider>
                </md-item>
            </div>
        </md-list>
    </div>
</div>
